.company img {
    max-width: 400px;
    width: 100%;
    height: auto;
}

/*MOBILE CONFIGURATION*/
@media screen and (max-width: 768px) {

    .company {
        justify-content: center;
    }

}

/*WEB CONFIGURATION*/
@media screen and (min-width: 768px) {

    .company {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .home-description {
        order: 1;
    }

    .company img {
        order: 2;
    }

    .our-projects {
        height: 50%;
        background-color: var(--blue-background-color);
    }
}