@import url(variable.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--body-background-color);
}

header {
    position: relative;
    z-index: 1;
}

.navigation {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
}

.navigation a {
    color: var(--text);
    text-decoration: none;
    align-content: center;
}

.navigation a:hover {
    font-size: larger;
    text-shadow: 0px 0px 10px 0px var(--text-shadow);

}

.nav-item-toggle {
    display: none;
}

main {
    padding: 20px 20px 0px 20px;
    min-height: 100vh;
}

.footer-container {
    background-color: var(--blue-background-color);
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    height: auto;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    max-width: 200px;
    padding-bottom: 25px;

}

.footer-logo img {
    max-width: 170px;
    max-height: 177px;

}

.footer-logo h1 {
    margin-top: -30px;
    padding-left: 15px;
    color: var(--footer-content-color);
}

.footer-logo p {
    width: 334px;
    text-align: justify;
    font-size: small;
    padding-left: 15px;
    color: var(--footer-content-color);
}

.footer-empresa {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
}

.footer-empresa h1 {
    color: var(--footer-content-color);
    font-size: 20px;
}

.footer-empresa h2 {
    color: var(--footer-content-color);
    font-size: 15px;
    padding-top: 10px;

}

.footer-produtos {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    width: auto;
}

.footer-produtos h1 {
    color: var(--footer-content-color);
    font-size: 20px;
}

.footer-produtos h2 {
    color: var(--footer-content-color);
    font-size: 15px;
    padding-top: 10px;

}

/*MOBILE CONFIGURATION*/
@media screen and (max-width: 768px) {
    header {
        display: flex;
        height: 80px;
        background-color: var(--blue-background-color);
    }

    .navigation,
    .nav-list {
        flex-direction: column;
    }

    .nav-list {
        display: none;
        background-color: var(--nav-list-background-color);
    }

    .nav-list li {
        height: 40px;
        align-content: center;
    }

    .nav-list li:not(:last-child) {
        border-bottom: 2px solid var(--nav-border-bottom);
    }

    .nav-toggle-show {
        display: flex;
    }

    .nav-item-toggle {
        display: flex;
        margin: 20px 20px;
        width: 40px;
        height: 40px;
    }

    .nav-item a {
        padding-left: 10px;
    }

    .footer-info {
        padding: 40px 0 20px 0;
    }

    .footer-logo {
        margin: 0 auto;
        padding-bottom: 5px;
        align-items: center;
    }

    .footer-logo p {
        display: none;
    }

}

/*WEB CONFIGURATION*/
@media screen and (min-width: 768px) {

    body {
        margin: 0 auto;
        max-width: 1200px;
    }
    
    header {
        height: 65px;
    }

    .nav-button {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: left;
        align-content: center;
        list-style-type: none;
        margin-left: 80px;
    }

    .navigation li {
        font-size: 16px;
        padding: 20px 20px;
        width: 80px;
    }

    .blue-line {
        border-color: var(--blue-background-color);
        width: 70%;
        margin-left: 70px;
    }
    
    footer  {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}
