*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
}



.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 5px;
}

.container-nav ul {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    padding-left: 10px;

}

.container-nav a {
    font-size: large;

}

.container-nav ul li {
    list-style: none;
    margin: 0 1rem;
}

.card-equipe h1 {
    font-size: medium;
    font-weight: 700;
    color: #373737;
    margin: 0.5rem 0;
}

.card-equipe p {
    font-size: small;
    font-weight: 700;
    color: #373737;
    margin: 0.5rem 0;
}


.card-equipe {
    display: grid;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    margin-top: 50px;

}

.card-equipe img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0 auto;
    margin-right: 20px;
}

.card-equipe-container {
    display: flex;
    flex-direction: row; 
    margin-top: 30px; 
    padding: 20px;  
    align-items: center;
    margin: 0 auto;
}

.card-equipe-container-description {
    background-color: #D1D1D1; 
    width: 557px;
    height: 121px;

}




























/*MOBILE CONFIGURATION*/
@media screen and (width: 768px) {}