:root {
    --transition-speed: 0.3s;
    --blue-background-color: #68ADD6;
    --body-background-color: #ededed;
    --nav-list-background-color: #D1D1D1;
    --nav-border-bottom: #a1a1a1;
    --text: #373737;
    --footer-content-color: #EDEDED;
}