*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#body {
    background-color: #EDEDED;
}
header{
    position: relative;
    z-index: 1;
}

.navigation {
    display: flex;
    width: 100%;
}

.nav-list {
    display: flex;
}

.navigation a {
    color: var(--text);
    text-decoration: none;
    align-content: center;
}

.navigation a:hover {
    font-size: larger;
    text-shadow: 0px 0px 10px 0px var(--text-shadow);

}

.nav-item-toggle {
    display: none;
}
.wallet-img{
    width: 100%;
    padding-bottom: none;
  }
  svg {
    display: static;
    position: absolute;
    left: 0;
    margin-top: 57%;
  }

body{
    background-color: #EDEDED;
}

/*MOBILE CONFIGURATION*/
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        height: 80px;
        background-color: var(--header-background-color);
    }

    .navigation, .nav-list {
        flex-direction: column;
    }

    .nav-list {
        display: none;
        background-color: var(--list-background-color);
    }
    
    .nav-list li {
        height: 40px;
        border-bottom: 2px solid #4e4e4e;
        align-content: center;
    }

    .nav-toggle-show {
        display: flex;
    }

    .nav-item-toggle {
        display: flex;
        margin: 20px 20px;
        width: 40px;
        height: 40px;
    }
    
    .nav-item a {
        padding-left: 10px;
    }

    .container-mobile{
        display: inline-block;
        width: 100%;
        padding-bottom: 8%;
        vertical-align: middle;
        overflow: visible;
      }
      .apresentacao{
        margin: 2% 10%;
      }

      .saiba-mais {
        background-color: #4CAF50; /* Green background */
        color: #fff; /* White text */
        padding: 10px 20px; /* Padding for better readability */
        border: none; /* Remove default border */
        border-radius: 10px; /* Rounded edges */
        cursor: pointer; /* Pointer cursor on hover */
        position: absolute; /* Position the button absolutely */
        top: 86%; /* Move the button 50% from the top */
        transform: translateY(-30%); /* Move the button up by 50% of its height */
        right: 20px;
        height: 5%;
        justify-content: center;
      }
      
      .saiba-mais:hover {
        background-color: #3e8e41; /* Darker green on hover */
      }
      .wallet-logo{
        height: 50%;
        width: 40%;
        margin-top: none;
        margin-left: 30%;
      }
      hr{
        border: #3592CA;
      }
}

/*Web*/
@media only screen and (min-width: 600px) {
    header {
        height: 65px;
    }

    .nav-button {
        display: none;
    }

    .nav-list {
        display: flex;
        justify-content: left;
        align-content: center;
        list-style-type: none;
        margin-left: 80px;
    }

    .navigation li {
        font-size: 16px;
        padding: 20px 20px;
        width: 80px;
    }

    .blue-line {
        border-color: var(--header-background-color);
        width: 70%;
        margin-left: 70px;
    }
    .apresentacao{
        margin: 2% 10%;
      }

      .saiba-mais {
        background-color: #4CAF50; /* Green background */
        color: #fff; /* White text */
        padding: 10px 20px; /* Padding for better readability */
        border: none; /* Remove default border */
        border-radius: 10px; /* Rounded edges */
        cursor: pointer; /* Pointer cursor on hover */
        position: absolute; /* Position the button absolutely */
        top: 86%; /* Move the button 50% from the top */
        transform: translateY(-30%); /* Move the button up by 50% of its height */
        right: 20px;
        height: 5%;
        justify-content: center;
      }
      
      .saiba-mais:hover {
        background-color: #3e8e41; /* Darker green on hover */
      }
      .wallet-logo{
        height: 20%;
        width: 20%;
        margin-top: none;
        margin-left: 30%;
      }
    .container-mobile{
        display: none;
    }

    hr{
        display: none;
    }
    .img-web{
        float: right;
        height: 700px;
    }

    .flex{
        display: flex;
        justify-content: space-between;
        height: 680px;
        width: 100%;
    
    }
    
    .celular-img{
        background: linear-gradient(to right, #68ADD6 60%, #EDEDED 0%);
        height: 100%;
        width: 100%;
    }
    
    
    .celular-img img{
        height: 680px;
        border: transparent thin solid;
        padding: 5px;
    }

}

/*color:#EDEDED;*/